@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,900);

body {
  font-family: "Titillium Web", sans-serif;
}

.form-inputs {
  display: flex;
}

.form-inputs label:first-child {
  flex-grow: 1;
}

.form-inputs label:first-child input {
  width: calc(100% - 6px);
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  line-height: 44px;
}

.todo-content {
  padding-right: 1em;
  flex-grow: 1;
}

.edit-todo-input {
  width: calc(100% - 6px + 1em);
  box-sizing: border-box;
}

.update-button {
  padding-left: 19px;
  padding-right: 18px;
}
